body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .row .info {
  width: 30%;
}

.container .row .info .header {
  background: #73c0d8;
  color: #ffffff;
  padding: 10px;
}

.container .row .info .header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.container .row .info .header .date_Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.container .row .info .header .date_Info .r-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1.2;
}

.container .row .info .header .date_Info .r-side .odd_font {
  color: yellow;
  font-weight: 600;
  font-size: 1.3rem;
}

.container .row .info .area,
.container .row .info .town {
  font-size: 1.2rem;
  padding: 0.3rem;
  outline: none;
}

.container .row .info .content {
  line-height: 1.8;
  padding: 10px;
}

.container .row .info .content .infoCard {
  overflow-y: auto;
  height: 450px;
}

.container .row .info .content .infoCard .pharma_Info {
  margin-bottom: 0.3rem;
}

.container .row .info .content .infoCard .pharma_Info h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.container .row .info .content .infoCard .mask_Info {
  display: inline;
  font-size: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.container .row .info .content .infoCard .mask_Info .mask_adult {
  display: inline-block;
  background: #73c0d8;
  color: #ffffff;
  font-weight: 700;
  width: 150px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 10px;
}

.container .row .info .content .infoCard .mask_Info .mask_child {
  display: inline-block;
  background: #ffa573;
  color: #ffffff;
  font-weight: 700;
  width: 150px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

.container .row #map {
  width: 70%;
  height: auto;
}

@media (max-width: 1279px) {
  .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .row .info {
    width: 100%;
  }
  .container .row .info .header h2 {
    font-size: 1.2rem;
  }
  .container .row .info .content {
    display: none;
  }
  .container .row #map {
    width: 100%;
    height: 500px;
  }
}

.odd,
.even {
  display: none;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}
/*# sourceMappingURL=all.css.map */